@font-face {
    font-family: 'Inter', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
} 

:root {
    --purpleColor : #3730A3;
    --textColorGrey : #6B7280;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;}
a {
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    list-style-type: none;
}
section {
    width: 75%;
}

/*-----HEADER-----*/
header {
    width: 75%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    background-color:rgb(238, 235, 255);
    color: var(--purpleColor);
    font-size: 20px;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transform: rotate(30deg);
}
nav {
    width: 50%;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--textColorGrey);
}
.firstDesignBtn {
    color: var(--purpleColor);
    border: var(--purpleColor) solid 0.1em;
    padding: 8px 24px;
    border-radius: 6px;
    width: fit-content;

}

/*-----FIRST SECTION-----*/
section:nth-child(1) {
    display: flex;
    align-items: center; 
}
.leftContainer {
    width: 60%;
    min-height: 500px;
    margin-right: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.firstLine {
    display: flex;
    align-items: center;
}
#purpleLine {
    width: 5em;
    height: 1px;
    background-color: var(--purpleColor);
}
h2 {
    color: var(--purpleColor);
    margin-left: 0.5em;
    font-weight: normal;
}
h1 {
    font-size: 60px;
    font-weight: 700;
}
section:nth-child(1) ul {
    width: 100%;
    display: flex;
    border-bottom: #E5E7EB solid 0.1em;
    padding-bottom: 2em;
}
section:nth-child(1) li {
    margin-right: 1em;
}
.nav {
    color: var(--textColorGrey);
}
.secondDesignBtn {
    background-color: var(--purpleColor);
    color: white;
    padding: 8px 24px;
    border-radius: 6px;
    width: fit-content;
}
.leftContainer p {
    width : 85%;
    color: var(--textColorGrey);
}

/*-----SECOND SECTION-----*/
section:nth-child(2) {
    display: flex;
    justify-content: center;
    font-size: 38px;
    font-weight: 600;
    margin: 3.5em 0;
}
section:nth-child(2) p {
    text-align: center;
    width: 75%;
}
section:nth-child(2) span {
    color: var(--purpleColor);
}

/*-----THIRD SECTION-----*/
section:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: space-around;    
}
section:nth-child(3) div {
    width: 60%;
    min-height: 25em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
section:nth-child(3) article {
    width: 40%;
    min-height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em 0;
}
section:nth-child(3) img {
    width: 35%;
}
section:nth-child(3) p {
    font-size: small;
    color: var(--textColorGrey);
}
.btn {
    font-size: small;
    color: var(--purpleColor);
    
}

/*-----FOURTH SECTION-----*/

