@font-face {
    font-family: 'Inter', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
} 

:root {
    --purpleColor : #3730A3;
    --textColorGrey : #6B7280;
    --backgroundRed : #FEF2F2;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;}
a {
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    list-style-type: none;
}
section {
    width: 75%;
}
.titreSection {
    font-size: 38px;
    font-weight: 600;
    text-align: center;
}

/*-----HEADER-----*/
header {
    width: 75%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    background-color:rgb(238, 235, 255);
    color: var(--purpleColor);
    font-size: 20px;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transform: rotate(30deg);
}
nav {
    width: 50%;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--textColorGrey);
}
.firstDesignBtn {
    color: var(--purpleColor);
    border: var(--purpleColor) solid 0.1em;
    padding: 8px 24px;
    border-radius: 6px;
    width: fit-content;

}

/*-----FIRST SECTION-----*/
section:nth-child(1) {
    display: flex;
    align-items: center; 
}
.leftContainer {
    width: 60%;
    min-height: 500px;
    margin-right: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.firstLine {
    display: flex;
    align-items: center;
}
#purpleLine {
    width: 5em;
    height: 1px;
    background-color: var(--purpleColor);
}
h2 {
    color: var(--purpleColor);
    margin-left: 0.5em;
    font-weight: normal;
}
h1 {
    font-size: 60px;
    font-weight: 700;
}
section:nth-child(1) ul {
    width: 100%;
    display: flex;
    border-bottom: #E5E7EB solid 0.1em;
    padding-bottom: 2em;
}
section:nth-child(1) li {
    margin-right: 1em;
}
.nav {
    color: var(--textColorGrey);
}
.secondDesignBtn {
    background-color: var(--purpleColor);
    color: white;
    padding: 8px 24px;
    border-radius: 6px;
    width: fit-content;
}
.leftContainer p {
    width : 85%;
    color: var(--textColorGrey);
}

/*-----SECOND SECTION-----*/
section:nth-child(2) {
    display: flex;
    justify-content: center;

    margin: 3.2em 0;
}
section:nth-child(2) p {
    width: 75%;
}
section:nth-child(2) span {
    color: var(--purpleColor);
}

/*-----THIRD SECTION-----*/
section:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: space-around;    
}
section:nth-child(3) div {
    width: 60%;
    min-height: 25em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
section:nth-child(3) article {
    width: 40%;
    min-height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em 0;
}
section:nth-child(3) img {
    width: 35%;
}
section:nth-child(3) p {
    font-size: small;
    color: var(--textColorGrey);
}
.btn {
    font-size: small;
    color: var(--purpleColor);
    
}

/*-----FOURTH SECTION-----*/
section:nth-child(4) {
    width: 100%;
    min-height: 200px;
    background-color: var(--backgroundRed);
    margin-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9CA3AF;
}
.containerSection4 {
    width: 75%;
    display: flex;
    flex-direction: column;
}
.containerLogo {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

/*-----FIFTH SECTION-----*/
section:nth-child(5) {
    width: 85%;
    font-size: 38px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section:nth-child(5) p {
    width: 65%;
    text-align: center;
    margin: 3em;
}
section:nth-child(5) img {
    margin: 0.4em;
}
.mainContainerImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.secondContainerImg {
    display: flex;
    justify-content: space-between;
}
.leftContainerImg {
    display: flex;
    flex-direction: column;
}
.rightImg {
    position: relative;
}
.legend {
    width: 90%;
    min-height: 5em;
    padding: 1.5em;
    background-color: white;
    border: 0;
    position: absolute;
    bottom: 2.8em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.arrow {
    font-size: 1.5em;
}
h4 {
    margin-bottom: 0.3em;
}

/*-----SIXTH SECTION-----*/
section:nth-child(6) {
    width: 90%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 5em;
}
section:nth-child(6) div {
    width: 25%;
}
.logoSection6 {
    background-color:#EEF2FF;
    padding: 1.5em;
    width: 24px;
}
section:nth-child(6) div>* {
    margin-top: 0.8em;
}
section:nth-child(6) p {
    color: var(--textColorGrey);
}

/*-----SEVENTH SECTION-----*/
section:nth-child(7) p {
    text-align: center;
    margin: 0.6em 0 1.4em;
}
section:nth-child(7) ul {
    display: flex;
    justify-content: space-between;
    color: var(--textColorGrey);
}
section:nth-child(7) li {
    margin: 2.8em 0;
}
section:nth-child(7) ul span {
    display: flex inline;
    justify-content: space-between;
    color: black;
}

/*-----FOOTER-----*/
footer {
    width: 100%;
    min-height: 350px;
    background-color: var(--backgroundRed);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#footer {
    text-align: center;
    width: 40%;
    color: var(--textColorGrey);
    margin: 1em 0 4em;
}
footer div {
    width: 35%;
    display: flex;
    justify-content: space-around;
}