:root {
    --purpleColor : #3730A3;
    --textColorGrey : #6B7280;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--textColorGrey);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    list-style-type: none;
}


/*-----HEADER-----*/
header {
    width: 80%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    background-color:rgb(238, 235, 255);
    color: var(--purpleColor);
    font-size: 20px;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transform: rotate(30deg);
}
nav {
    width: 50%;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--textColorGrey);
}
.firstDesignBtn {
    color: var(--purpleColor);
    border: var(--purpleColor) solid 0.1em;
    padding: 8px 24px;
    border-radius: 6px;
}

